/*==================FONTS===================*/

@font-face {
    font-family: Rob;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Helvetica-Md;
    src: url(../fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
    font-family: Helvetica-Roman;
    src: url(../fonts/HelveticaNeueLTPro-Roman.otf);
}

@font-face {
    font-family: Helvetica-Lt;
    src: url(../fonts/HelveticaNeueLTPro-Lt.otf);
}

@font-face {
    font-family: Merri;
    src: url(../fonts/Merriweather-LightItalic.ttf);
}

@font-face {
    font-family: Mont;
    src: url(../fonts/Montserrat.ttf);
}

/*==================NAVIGATION===================*/
.navigation li a {
    display: inline-block;
    font-size: 13px;
    font-family: Rob;
    color: #d2d2d2;
    padding: 15px 30px 20px 50px ;
    margin: 5px 0px 10px 5px;
}

.navigation ul img {
    width: 54px;
    height: 55px;
    text-align: center;
    margin: 0px 140px 0px 140px;
}

/*==================HEADER===================*/

.navigation
.header {
    background-color: #ffffff;
}

.header-info__title {
    color: #1e1e1e;
    font-family: Helvetica-Lt;
    font-size: 44px;
    padding-top: 297px;
}

.header-info__subtitle {
    font-size: 16px;
    font-family: Merri;
    color: #dfdfdf;
}

.header-info__button {
    color: #1e1e1e;
    margin: 46px 0px 230px 0px;
    width: 188px;
    height: 56px;
    font-family: Mont;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #1e1e1e;
}

.header-info__button:hover {
    background-color: #dfdfdf;
    text-decoration: none;
    border: none;
    outline: none;
    color: #000;
}

/*==================ABOUT===================*/

.about {
    background: url(../img/about_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about__years h2{
    font-family: Helvetica-Lt;
    font-size: 40px;
    color: #fefefe;
    margin: 120px 40px 20px 40px;
}

.about__years h6 {
    font-family: Mont;
    font-size: 15px;
    color: #a2a2a2;
    margin: 20px 40px 0px 40px;
}

.about__last {
    padding-bottom: 420px;
}

/*==================TEAM-INFO===================*/
/*add repeated code*/
.support__title,
.team-info__title {
    font-family: Helvetica-Lt;
    font-size: 34px;
    color: #1e1e1e;
    padding-top: 100px;
}
.support__subtitle,
.team-info__subtitle {
    font-family: Merri;
    font-size: 16px;
    color: #dfdfdf;
    margin-top: 14px;
}

.team-staff__photo {
    margin-top: 214px;
}

.team-staff__second {
    margin-top: 125px;
}

.team-staff h4{
    font-family: Helvetica-Lt;
    font-size: 24px;
    color: #1e1e1e;
    margin: 24px 0px 5px 0px;
}

.team-staff__subtitle {
    font-family: Helvetica-Lt;
    font-size: 13px;
    color: #dfdfdf;
    margin-bottom: 23px;
}

/*==================SUPPORT===================*/

.support {
    background: url(../img/support_background.jpg) no-repeat center;
}
