/*==================FONTS===================*/

@font-face {
    font-family: Rob;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Helvetica-Md;
    src: url(../fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
    font-family: Helvetica-Roman;
    src: url(../fonts/HelveticaNeueLTPro-Roman.otf);
}

@font-face {
    font-family: Helvetica-Lt;
    src: url(../fonts/HelveticaNeueLTPro-Lt.otf);
}

@font-face {
    font-family: Merri;
    src: url(../fonts/Merriweather-LightItalic.ttf);
}

@font-face {
    font-family: Mont;
    src: url(../fonts/Montserrat.ttf);
}

/*==================NAVIGATION===================*/
.navigation li a {
    display: inline-block;
    font-size: 13px;
    font-family: Rob;
    color: #d2d2d2;
    padding: 15px 30px 20px 50px ;
    margin: 5px 0px 10px 5px;
}

.navigation ul img {
    width: 54px;
    height: 55px;
    text-align: center;
    margin: 0px 140px 0px 140px;
}

/*==================HEADER===================*/

.navigation
.header {
    background-color: #ffffff;
}

.header-info__title {
    color: #1e1e1e;
    font-family: Helvetica-Lt;
    font-size: 44px;
    padding-top: 297px;
}

.header-info__subtitle {
    font-size: 16px;
    font-family: Merri;
    color: #dfdfdf;
}

.header-info__button {
    color: #1e1e1e;
    margin: 46px 0px 230px 0px;
    width: 188px;
    height: 56px;
    font-family: Mont;
    font-size: 13px;
    background-color: rgb(233, 233, 233);
    border:none;
}

.header-info__button:hover {
    background-color: #e7e2e2;
    text-decoration: none;
    border: 1px solid #353535;
    outline: none;
    color: #353535;
}

/*==================ABOUT===================*/

.about {
    background: url(../img/about_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about__years h2{
    font-family: Helvetica-Lt;
    font-size: 40px;
    color: #fefefe;
    margin: 120px 40px 20px 40px;
}

.about__years h6 {
    font-family: Mont;
    font-size: 15px;
    color: #a2a2a2;
    margin: 20px 40px 0px 40px;
}

.about__last {
    padding-bottom: 420px;
}

/*==================TEAM-INFO===================*/
/*add repeated code*/
.support__title,
.contact__title,
.team-info__title {
    font-family: Helvetica-Lt;
    font-size: 34px;
    color: #1e1e1e;
    padding-top: 100px;
}
.support__subtitle,
.contact__subtitle,
.team-info__subtitle {
    font-family: Merri;
    font-size: 16px;
    color: #dfdfdf;
    margin-top: 14px;
}

.team-staff__photo {
    margin-top: 214px;
}

.team-staff__second {
    margin-top: 125px;
}

.team-staff h4{
    font-family: Helvetica-Lt;
    font-size: 24px;
    color: #1e1e1e;
    margin: 24px 0px 5px 0px;
}

.team-staff__subtitle {
    font-family: Helvetica-Lt;
    font-size: 13px;
    color: #dfdfdf;
    margin-bottom: 23px;
}

.team-staff__icon {
    margin: 0px 10px 85px 10px;
}

/*==================SUPPORT===================*/

.support {
    background: url(../img/support_background.jpg) center no-repeat;
}

.support__title {
    margin-top: 150px;
    color: #ffffff;
}

.support__subtitle {
    margin-bottom: 150px;
    color: #adadad;
}

.support__data img {
    margin-top: 20px;
}

.support__data h4 {
    margin: 40px 10px 40px 10px;
    color: #ffffff;
    font-family: Helvetica-Lt;
    font-size: 24px;
}

.support__data h6 {
    color: #adadad;
    font-family: Merri;
    font-size: 16px;
}

.support__button {
    border: none;
    color: #000000;
    background-color: #fff;
    font-family: Mont;
    font-size: 13px;
    text-transform: uppercase;
    width: 216px;
    height: 64px;
    margin: 150px 0px 150px 0px;
}

.support__button:hover {
    background-color: #e7e2e2;
    text-decoration: none;
    border: none;
    outline: none;
    color: #1e1e1e;
}

/*==================CONTACT===================*/

.contact__text {
    margin: 100px 0px 64px 0px;
}

.contact__icon {
    margin: 2px 95px 2px 95px;
}

.contact__icon h6 {
    font-family: Helvetica-Lt;
    font-size: 12px;
    color: #adadad;
    margin: 15px 0px 150px 0px;
}

.last_image {
    margin-top: 12px;
}

.contact__name {
    width: 770px;
    height: 53px;
    margin: 10px;
    color: #adadad;
    font-family: Helvetica-Lt;
    font-size: 15px;
    text-align: center;
    outline: none;
    transition: 0.5s;
    border: 1px solid #adadad;
}

.contact__name:hover,
.contact__name:active {
    border: 1px solid #353535;
    transform: scale(1.1);
}

.contact__input textarea {
    padding: 10px;
    width: 770px;
    height: 190px;
    color: #adadad;
    border: 1px solid #adadad;
    margin: 10px;
    transition: 0.5s;
    outline: none;
}

.contact__input textarea:hover,
.contact__input textarea:active {
    outline: none;
    transform: scale(1.1);
    border: 1px solid #353535;
}

.contact__submit {
    color: #fff;
    background-color: #000;
    font-family: Helvetica-Lt;
    font-size: 15px;
    width: 770px;
    height: 53px;
    margin: 10px;
    outline: none;
    transition: 0.5s;
    border:none;
}

.contact__submit:hover {
    color: #a2a2a2;
    background-color: #1e1e1e;
    border:none;
}


